<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AeroNet.Properties.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<add name="PostgresConn"
    connectionString="Host=social-media-test-app-jgrunden2005-6ad3.d.aivencloud.com;Port=18753;Username=avnadmin;Password=AVNS_ENRwRZdfZNftsSjcwzy;Database=defaultdb;SslMode=Require;RootCertificate=C:\\Users\\getti\\source\\repos\\Projects\\Social Media\\AeroNet\\ca.pem"
    providerName="PostgreSql.Data.PostgreSqlClient" />
	</connectionStrings>
    <userSettings>
        <AeroNet.Properties.settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
        </AeroNet.Properties.settings>
    </userSettings>
</configuration>